

<div class="container-full">
  <div class="spacer-two"> </div>

  <!-- Left Half of the Page -->
  <div class="row">
  <div class="col-xs-12 col-sm-6">

      <!-- Main Product Image First -->
      <div class="row">
        <div class="col-xs-12 text-center">  <img src="{{ (palletChoice$ | async)?.images[0] }}" #mainImage/> </div>
      </div>
      <div class="spacer"> </div>
      <!-- Smaller Product Images Next. 4 images per row -->
      <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-3 thumbnail" *ngFor="let image of (palletChoice$ | async)?.images | slice:1:5; let i = index"
                (click) = "changeImage(mainImage, image )">
                <img src = {{image}} />
          </div>
        </div>
      </div>


  </div>


<!-- Right Half of the Page -->
  <div class="col-xs-12 col-sm-6">

    <!-- Product Details or Customer Reviews-->
    <div class="row">
        <ul class="nav nav-tabs">
          <li class="active" (click)="showProductDetails = true "><a> Product Details</a></li>
          <li (click)="showProductDetails = false" ><a>Customer Reviews</a></li>
        </ul>
    </div>

    <div class="spacer"> </div>

    <div class="row">
          <div class="col-xs-12" *ngIf="showProductDetails">
            <!-- <h4 class="text-left"> {{ productMeta.name}}</h4> -->
            <h4 class="text-left cp-title">  {{ (palletChoice$ | async)?.name }} </h4>
            <div class="text-left well" [innerHTML]="(palletChoice$ | async)?.details">
                  <!-- Binded to the HTML attribue, since we are passing HTML from the other side of the database -->
            </div>
          </div>

          <div class="col-xs-12 text-center" *ngIf="!showProductDetails">
            <app-reviews [palletType] = "productForm.controls.type.value ? productForm.controls.type.value : 'generic' "> </app-reviews>
          </div>

    </div>

  <div class="spacer"> </div>


  <!-- Start Form -->
  <div class="row">
    <div class="col-xs-12">
      <form novalidate [formGroup]= 'productForm' (ngSubmit)="onSubmit(productForm)">

          <!-- Step 1- Pallet Type -->
          <div class="form-group">
          <label for="pallet-type-choice">  <strong class="step"> Step 1- Choose Your Pallet Type </strong> </label>
          <br>
          <select class="col-xs-12" id="pallet-type-choice" formControlName="type" >
              <option *ngFor="let opt of palletOptions" value={{opt.type}}> {{opt.type}} </option>
          </select>
        </div>



          <!-- Step 2 - Choose Size-->
          <div class="form-group" *ngIf="productForm.controls.type.value">
          <div class="spacer-two"> </div>

          <label for="size-type-choice"> <strong class="step"> Step 2- Choose Your Pallet Size </strong>  </label> <button type="button" (click) ="showSizeModal()" class="btn btn-warning"> Show Size Guide </button>
            <br/>
            <br/>
            <select id="size-type-choice" class="col-xs-12" formControlName="size" #selectedSize >
                <option *ngFor="let opt of palletSizes; let i = index" value={{i}} >  {{opt?.name}} - {{opt?.specs}} - ${{opt?.price }} </option>
            </select>
            <div *ngIf="productForm.controls.size.value">
              <div class="alert alert-{{ (supplyInfo$|async)?.color }}" role="alert"> {{(supplyInfo$|async)?.message}} </div>

            </div>

          </div>




            <!-- Step 3 - Photo Checkout -->
            <div class="form-group" *ngIf="productForm.controls.size.value">
            <div class="spacer-two"> </div>

            <label for="pic-radio"> Do you have your photo ready? </label> <br>
              <input type="radio" name="picReady" value='yes' formControlName="picReady"> Yes <br>
              <input type="radio" name="picReady" value='no' formControlName="picReady"> No
            </div>



          <!--Step 4a- Photo Upoad -->

            <div class="form-group" *ngIf="productForm.controls.picReady.value == 'yes' && productForm.controls.size.value">
              <div class="spacer-two"> </div>
              <label for="photo-choice"> <strong class="step"> Step 3 - Upload Your Photo </strong> </label> <br>
                  <input formControlName="photo" class="col-xs-12" type="file" id="photo-choice" #file  (change)="photoChange(file,$event)"  />
              <br>
              <!-- Display Photo here -->
              <div *ngIf="displayUpload" class="photo-upload-space col-xs-12 text-center">
                <img [src]= 'displayUpload' height="100px" width="100px" />
              </div>
              <br>
            </div>



      <!-- Step 4b - Proceed without Photo -->

            <div class="form-group" *ngIf="productForm.controls.picReady.value == 'no' && productForm.controls.size.value">
                <p> Upload a Photo later. We will email you with the needed discount to do so! Save now , and send picture later at another date </p>
                <button type="submit" class="btn btn-primary"> Reserve My Pallet Now </button>
            </div>



      <!-- Step 5 - Add to Cart -->
      <div class="form-group" *ngIf="productForm.controls.photo.value && productForm.controls.picReady.value == 'yes' ">
          <div class="spacer-two"> </div>
          <div class="spacer"> </div>
        <label> <strong class="step">  Step 4 - Add To Cart </strong>  </label>
        <br>
        <button class="btn btn-primary btn-lg col-xs-8" type="submit">  Add To Cart  </button>
        <!-- Dynamic Better Button -->
        <br>
        <p> All done? Checkout now or add some extra options to your order </p>


    </div>

    <!-- Space for Upsells -->


      </form>
      <!-- End Form -->

  </div>


  </div>


</div>
</div>
    <div class="spacer-two"> </div>
    <div class="spacer"> </div>
</div>
